{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{%block title%}서랍 생성{%endblock %}

{% block content %}

<section class="container">
    <div class="pageTitle">{{ post.title }}</div>
    <div class="subTitle">{{ post.location }}
        <br>{{ post.start }} 부터 {{ post.end }} (총 {{ date }}박 {{ post.date }}일)
        <br>{{ cost }}원
    </div>

    <div class="button">
        {% if post.category == 0 %}
            <div id="spring">Spring</div>
            </div>
        {% elif post.category == 1 %}
        <div id="summer">Summer</div>
            </div>
        {% elif post.category == 2 %}
            <div id="autumn">Autumn</div>
            </div>
        {% else %}
            <div id="winter">Winter</div>
            </div>
        {% endif %}

    <div class="pic">
        <img src="{{ post.image.url }}" alt="">
        <div class="content">
            <div class="author">by {{ post.user }}</div>
            {% if user.is_authenticated %}
                    <a href="{% url 'posts:post-save' post.id %}"><div class="vecIcon"><img src="{% static 'images/Vector.png' %}" alt=""></div></a>
            {% else %}
                    <a href="{% url 'accounts:login' %}"><img src="{% static 'images/mdi_heart-outline.png' %}" alt=""></a>
            {% endif %}
        </div>
    </div>

    

    <div class="diary">
        {{ post.description }}
    </div>
</section>

{% endblock %}