{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/perfume.css' %}">
{% endblock %}

{% block title %}향기{% endblock %}

{% block content %}

<section class="container">
    <div class="pageTitle">여행과 향기</div>
    <div class="subTitle">여행의 추억이 담긴 향</div>

    <div class="button">
        <a href="#">
            <div id="spring">Spring</div>
        </a>
        <a href="#">
            <div id="summer">Summer</div>
        </a>
        <a href="#">
            <div id="autumn">Autumn</div>
        </a>
        <a href="#">
            <div id="winter">Winter</div>
        </a>
    </div>

    <div class="picContainer1">
        <div class="perfume"><img src="{% static 'images/img_4860_29.png' %}" alt=""></div>
        <div class="perfume"><img src="{% static 'images/img_4860_24.png' %}" alt=""></div>
        <div class="perfume"><img src="{% static 'images/img_4860_25.png' %}" alt=""></div>
        <div class="perfume"><img src="{% static 'images/img_4860_30.png' %}" alt=""></div>
    </div>

    <div class="picContainer2">
        <div class="pictures">
            <div class="perfume"><img src="{% static 'images/img_4860_24.png' %}" alt=""></div>
            <div class="perfume"><img src="{% static 'images/img_4860_25.png' %}" alt=""></div>
        </div>
        <div class="explain1">
            <br><br><br>낯설고도 설렜던<br>
            그대와의 첫 여행의 향을 기억해요<br>
            unfamiliar and thrilling<br>
            I remember the scent of my first trip with you<br>
        </div>
    </div>

    <div class="picContainer2">

        <div class="explain2">
            <br><br><br>낯설고도 설렜던<br>
            그대와의 첫 여행의 향을 기억해요<br>
            unfamiliar and thrilling<br>
            I remember the scent of my first trip with you<br>
        </div>

        <div class="pictures">
            <div class="perfume"><img src="{% static 'images/img_4860_24.png' %}" alt=""></div>
            <div class="perfume"><img src="{% static 'images/img_4860_25.png' %}" alt=""></div>
        </div>
    </div>
</section>

{% endblock %}